<div id="page-header">
  <h1>Editing provider</h1>
</div>

<%= render 'form' %>
<%= render 'shared/related_allocations', :target => @provider %>
<%= link_to 'Back', providers_path, :class => "action-bttn" %>
