<h1>Dashboard</h1>
<ul id="dashboard">
<li><a href="/reports/">Reports</a></li>
<li><a href="/summaries/">Summaries</a></li>
<li><a href="/trips/">Trips</a></li>
<li><a href="/runs/">Runs</a></li>
<li><a href="/users/">Users</a></li>
</ul>
