<div id="page-header">
  <h1>Import Trips</h1>
</div>

<%=form_tag url_for(:action=>:import), :method=>:post, :multipart => true %>
  <fieldset>

    <ol class="section first">
      <li><input id="file-import" name="file-import" type="file" value="" size="20" /></li>
    </ol>

    <div class="actions">
      <input id="trip-import" type="submit" value="Import" />
    </div>

  </fieldset>
</form>
