<div id="page-header">
  <h1>Mark Complete</h1>
</div>

<%= form_tag :action=>:bulk_update, :method=>"POST" do  %>
  <fieldset>

    <ol class="section">
      <li>
      Mark all runs complete for periods between
      <%= text_field_tag :start_date %> and
      <%= text_field_tag :end_date %>
      </li>
    </ol>

    <div class="actions">
      <%= submit_tag 'Update' %>
    </div>

  </fieldset>
<% end %>
