<div id="page-header">
  <h1>Mark Complete</h1>
</div>

<%= form_tag :action=>:bulk_update, :method=>"POST" do  %>
  <fieldset>

    <p><strong>Mark all summaries complete for periods between:</strong> <%= text_field_tag :period_start %> and <%= text_field_tag :period_end %></p>

    <div class="actions">
      <%= submit_tag 'Update' %>
    </div>

  </fieldset>
<% end %>
