<div id="page-header">
  <h1>Mark Complete</h1>
</div>

<%= form_tag :action=>:bulk_update, :method=>"POST" do  %>

Mark all summaries complete for periods between
<%= date_select :update, :start_date %> and 
<%= date_select :update, :end_date %>
<br/>

<%= submit_tag 'Update' %>
<% end %>
