<div id="page-header">
  <h1>Editing Service Type</h1>
</div>

<%= render 'form' %>
<%= render 'shared/related_allocations', :target => @service_type.allocations %>
<%= link_to 'Back', service_types_path, :class => "action-bttn" %>
