<div id="page-header">
  <h1>Editing Override</h1>
</div>

<%= render 'form' %>
<%= render 'shared/related_allocations', :target => @override %>
<%= link_to 'Back', overrides_path, :class => "action-bttn" %>
