<ol class="section fourth">
  <li><%= f.label :email, "Email: " %> <%= f.text_field :email %></li>
  <li><%= f.label :level, "Level: " %> <%= f.select :level, [["Admin", 100], ["User", 0]] %><br/></li>

  <li><p>An email will be sent to the user with their password when you click "Create".</p></li>
</ol>
