<table>
<tr>
<th>Email</th>
<th>Role</th>
</tr>
<% for user in @users %>
<tr>
<td>
<%= user.email %> 
</td>
<td>
<%= user.is_admin ? "Admin" : "User" %> 
</td>
</tr>
<% end %>
</table>

<br/>

<% if current_user.is_admin %>
<%= link_to "New user", :action=>"show_create" %>
<% end %>
