<div id="page-header">
  <h1>Add New User</h1>
</div>

<%= form_for :user, :url=>{:action=>:create_user} do |f| %>
  <fieldset>

  <%= render :partial=>"form", :locals=>{:f => f}%>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>

  </fieldset>
<% end %>
