<div id="page-header">
  <h1>Add New User</h1>
</div>

<%= form_for @user, url: create_user_path do |f| %>
  <fieldset>

  <%= render :partial=>"form", :locals=>{:f => f}%>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>

  </fieldset>
<% end %>
