         <h1>Network Service Summary</h1>

	 Start: <%= @start_date %><br/>
	 End: <%= @end_date %> <br/>

   <%= link_to "CSV", @params.merge({:action=>:csv}) %><br/>

<%= render :partial=> "report", :locals=>{:results=>@results, :group_fields=>@group_fields} %>
