        <h1>Create Report</h1>
        <%= form_for @query, :as => :q, :html=>{:id=>"create-report", :method=>:get}, :url=>{:action=>"report"} do |f| %>
          <div class="ui-widget">
             Report on
             <span id="report-category-wrap">
               <%= f.collection_select :tag, @tags, :name, :name, :include_blank=>"all" %>
           	</span>
           	service between the beginning of
	           <span id="startday-wrap"><%= f.date_select :start_date, :discard_day=>true %></span>
           	and just before the beginning of
           	<span id="endday-wrap"><%= f.date_select :end_date, :discard_day=>true %></span>

		

          </div>
          <div class="ui-widget">
            <h3 id="report-checkbox-toggle" class="toggler collapse">Fields to include</h3>
            <div id="report-checkbox-area" class="togglee">
              <fieldset class="selfclear">
                <!-- PLEASE NOTE: These fields are currently in the order they appear on the report. We may decide to present them in some other order (like alphabetical), but the current approach isn't random -->
                <div class="fourcol">
                  <input type="checkbox" checked name="q[f[funds]]" value="1" /><label for="name">Funds</label><br />
                  <input type="checkbox" checked name="q[f[fares]]" value="1" /><label for="name">Fares</label><br />
                  <input type="checkbox" checked name="q[f[agency_other]]" value="1" /><label for="name">Agency Other</label><br />
                  <input type="checkbox" checked name="q[f[vehicle_maint]]" value="1" /><label for="name">Vechicle Maint.</label><br />
                  <input type="checkbox" checked name="q[f[donations_fares]]" value="1" /><label for="name">Donations Fares</label><br />
                  <input type="checkbox" checked name="q[f[total]]" value="1" /><label for="name">Total</label>
                </div>
                <div class="fourcol">
                  <input type="checkbox" checked name="q[f[in_district_trips]]" value="1" /><label for="name">In District Rides</label><br />
                  <input type="checkbox" checked name="q[f[out_of_district_trips]]" value="1" /><label for="name">Out of District Rides</label><br />

                  <input type="checkbox" checked name="q[f[total_last_year]]" value="1" /><label for="name">Total this Period Last Year</label><br />
                  <input type="checkbox" checked name="q[f[mileage]]" value="1" /><label for="name">Mileage</label><br />
                  <input type="checkbox" checked name="q[f[volunteer_hours]]" value="1" /><label for="name">Volunteer Hours</label>
                </div>
                <div class="fourcol">
                  <input type="checkbox" checked name="q[f[paid_hours]]" value="1" /><label for="name">Paid Hours</label><br />
                  <input type="checkbox" checked name="q[f[total_hours]]" value="1" /><label for="name">Total Hours</label><br />
                  <input type="checkbox" checked name="q[f[cost_per_trip]]" value="1" /><label for="name">Cost/Trip</label><br />
                  <input type="checkbox" checked name="q[f[cost_per_mile]]" value="1" /><label for="name">Cost/Mile</label><br />
                  <input type="checkbox" checked name="q[f[cost_per_hour]]" value="1" /><label for="name">Cost/Hour</label>
                </div>
                <div class="fourcol">
                  <input type="checkbox" checked name="q[f[turn_downs]]" value="1" /><label for="name">Turn Downs</label><br />
                  <input type="checkbox" checked name="q[f[undup_riders]]" value="1" /><label for="name">Undup Riders</label><br />
                  <input type="checkbox" checked name="q[f[escort_volunteer_hours]]" value="1" /><label for="name">Escort Hours</label><br />
                  <input type="checkbox" checked name="q[f[admin_volunteer_hours]]" value="1" /><label for="name">Admin Hours</label><br />
                  <input type="checkbox" checked name="q[f[total_hours]]" value="1" /><label for="name">Total Hours</label>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="ui-widget">
            <h3>Group By</h3>
            <div class="group-by-wrap">
              <select id="group-by" name="q[group_by]">
                <option value="county,provider_id">County, Provider</option>
                <option value="funding_source,county,provider_id,project_name">Funding Source, County, Provider, Project Name</option>
                <option value="funding_source,county,provider_id">Funding Source, County, Provider</option>
                <option value="funding_source,provider_id">Funding Source, Provider</option>
                <option value="name,provider_id">Project Name, Provider</option>
                <option value="provider_id,county,name">Provider, County, Project Name</option>
              </select>
            </div>
          </div>
          <input id="report-create" type="submit" value="Create Report" />
        <% end %><!-- end form -->
