        <h1>Create Tag</h1>
        <%= form_tag :action=>"create_tag", :method=>"POST" do |f| %>

        <div class="ui-widget">
            <label>Name for this tag</label>
            <input type="text" value="" id="tag-name" name="tag_name">
          </div>

          <%= render "form", :locals=>{:providers=>@providers, :allocations_with_tag=>@allocations_with_tag} %>

          <input id="tag-create" type="submit" value="Create Tag" />
        <% end %>
