<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Lowdown Comp :: Create Reports</title>
<link type="text/css" href="../stylesheets/screen-reset.css" rel="stylesheet" media="screen, projection" />
<link type="text/css" href="../stylesheets/print-reset.css" rel="stylesheet" media="print" />
<!--[if lt IE 8]><link rel="stylesheet" href="../stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->


<link type="text/css" href="../stylesheets/ui.combobox.css" rel="stylesheet" media="screen, projection" />
<link type="text/css" href="../stylesheets/ui-custom/jquery-ui-1.8.6.custom.css" rel="stylesheet" media="screen, projection" />
<link type="text/css" href="../stylesheets/ui.spinner.css" rel="stylesheet" media="screen, projection" />
<link type="text/css" href="../stylesheets/ui.combobox.css" rel="stylesheet" media="screen, projection" />


<link type="text/css" href="../stylesheets/application.css" rel="stylesheet" media="screen, projection" />

<script src="../javascripts/jquery-1.4.2.min.js"></script>
<script src="../javascripts/jquery-ui-1.8.6.custom.min.js"></script>
<script src="../javascripts/ui.spinner.min.js"></script>
<script src="../javascripts/application.js"></script>
</head>
<body>
    <div id="header">
      <div class="wrap selfclear">
        <a id="logo" href="#"><strong>Low</strong>down</a>
        <div id="login-area">
            <a href="#">Kevin Chambers</a> | <a href="#">Log out</a>
        </div>
      </div><!-- /.wrap -->
    </div><!-- /#header -->
    <div id="crossbar">
      <div class="wrap selfclear">             
        <ul id="sitenav" class="selfclear">
          <li><a href="#">Import Trips</a></li>
          <li><a href="#">View Trips</a></li>
        </ul>
      </div><!-- /.wrap -->
    </div><!-- /#crossbar -->
    <div id="main">
      <div class="wrap selfclear">
        <h1>Create Report</h1>
        <%= form_for @query, :as => :q, :html=>{:id=>"create-report", :method=>:get}, :url=>{:action=>"report"} do |f| %>
          <div class="ui-widget">
             Report on
             <span id="report-category-wrap">
               <select id="report-category">
             		<option value="All">All</option>
               	<option value="Tagging Category 1">Tagging Category 1</option>
               	<option value="Tagging Category 2">Tagging Category 2</option>
               	<option value="Tagging Category 3">Tagging Category 3</option>
             	</select>
           	</span>
           	service between
	           <span id="startday-wrap"><%= f.date_select :start_date %></span>
           	and 
           	<span id="endday-wrap"><%= f.date_select :end_date %></span>

          </div>
          <div class="ui-widget">
            <h3 id="report-checkbox-toggle" class="toggler collapse">Fields to include</h3>
            <div id="report-checkbox-area" class="togglee">
              <fieldset class="selfclear">
                <!-- PLEASE NOTE: These fields are currently in the order they appear on the report. We may decide to present them in some other order (like alphabetical), but the current approach isn't random -->
                <div class="fourcol">
                  <input type="checkbox" checked name="q[f[]]" value="name" /><label for="name">Name</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="funds" /><label for="name">Funds</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="agency_other" /><label for="name">Agency Other</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="vehicle_maint" /><label for="name">Vechicle Maint.</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="donations_fares" /><label for="name">Donations Fares</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="total" /><label for="name">Total</label>
                </div>
                <div class="fourcol">
                  <input type="checkbox" checked name="q[f[]]" value="in_district_trips" /><label for="name">In District Rides</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="out_of_district_trips" /><label for="name">Out of District Rides</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="total_this_period" /><label for="name">Total this Period</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="total_this_period_last_year" /><label for="name">Total this Period Last Year</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="mileage" /><label for="name">Mileage</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="volunteer_hours" /><label for="name">Volunteer Hours</label>
                </div>
                <div class="fourcol">
                  <input type="checkbox" checked name="q[f[]]" value="paid_hours" /><label for="name">Paid Hours</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="total_hours" /><label for="name">Total Hours</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="cost_per_trip" /><label for="name">Cost/Trip</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="cost_per_mile" /><label for="name">Cost/Mile</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="cost_per_hour" /><label for="name">Cost/Hour</label>
                </div>
                <div class="fourcol">
                  <input type="checkbox" checked name="q[f[]]" value="turn_downs" /><label for="name">Turn Downs</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="undup_riders" /><label for="name">Undup Riders</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="escort_hours" /><label for="name">Escort Hours</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="admin_hours" /><label for="name">Admin Hours</label><br />
                  <input type="checkbox" checked name="q[f[]]" value="total_hours" /><label for="name">Total Hours</label>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="ui-widget">
            <h3>Group By</h3>
            <div class="group-by-wrap">
              <select id="group-by" name="q[group_by]">
                <option value="county,provider_id">County, Provider</option>
                <option value="funding_source,county,provider_id,project_name">Funding Source, County, Provider, Project Name</option>
                <option value="funding_source,county,provider_id">Funding Source, County, Provider</option>
                <option value="funding_source,provider_id">Funding Source, Provider</option>
                <option value="name,provider_id">Project Name, Provider</option>
                <option value="provider_id,county,name">Provider, County, Project Name</option>
              </select>
            </div>
          </div>
          <input id="report-create" type="submit" value="Create Report" />
        <% end %><!-- end form -->
      </div><!-- /.wrap -->
    </div><!-- /#main -->
<script>
//<![CDATA[
  // Originally created to support arbitrary combinations of 'group by' fields
  // For now, we're going to go with pre-canned combinations instead
  // Keeping this for the eventuality where we revert to the arbitrary approach
  // Also worth preserving: the markup this uses:
  //<div class="group-by-wrap">
  //  <select id="group-by-1">
  //    <option value="County">County</option>
  //    <option value="Funding Source">Funding Source</option>
  //    <option value="Project Name">Project Name</option>
  //    <option value="Provider">Provider</option>
  //  </select>
  //  <a class="remove-group-by" href="#"><img src="../images/spirit20/system-stop.png" alt="-" title="Remove this grouping criteria" /></a> <a class="add-group-by" href="#"><img src="../images/spirit20/system-save-alt-02.png" alt="+"  title="Add another group by field" /></a>
  //</div>
  // 
  //function addGroupBy(element) {
  //    $('<div class="group-by-wrap"><select id="group-by-1"><option value="County">County</option><option value="Funding Source">Funding Source</option>option value="Project Name">Project Name</option><option value="Provider">Provider</option></select> <a class="remove-group-by" href="#"><img src="../images/spirit20/system-stop.png" alt="-" title="Remove this grouping criteria" /></a> <a class="add-group-by" href="#"><img src="../images/spirit20/system-save-alt-02.png" alt="+"  title="Add another group by field" /></a></div>').appendTo($(element).parent());
  //    renumberGroupBy();
  //}
  //
  //function renumberGroupBy() {
  //    $('.group-by-wrap select').each(function(_, result) {
  //        $(result).attr("id", "group-by-" + (_ + 1));
  //    });
  //    $( ".group-by-wrap .add-group-by" ).unbind().click(function() {addGroupBy(this); return false;});
  //    $( ".group-by-wrap .remove-group-by" ).unbind().click(function() {$(this).parent().remove(); return false;});
  //    $( ".group-by-wrap select" ).combobox();
  //}
  //
  //renumberGroupBy();
//]]>
</script>
</body>
</html>
