<% as_a ||= nil %>
<h2>This record is used in the following allocations<%= " as a #{as_a}" if as_a.present? %>:</h2>
<ul>
  <% target.each do |a| %>
    <li><%= link_to a.name, [:edit, a] %></li>
  <% end %>
</ul>
<hr>
