<div id="page-header">
  <h1>Listing projects</h1>
</div>

<table>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, edit_project_path(project) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @projects %>

<%= link_to 'New Project', new_project_path, :class => "action-bttn" if current_user.is_admin %>