<% section = 'section-main' if section.nil? %>
<%= content_tag :tr, 
  :class => (row_classes + %w(collapsible visible-group) + (root_header ? ['no-print'] : []) + [section, "level-#{tree_map.size}"]).join(' '), 
  "data-group" => this_row_group_class,
  "data-section" => section do %>
  <% if root_header %>
    <%= content_tag :td, :class => "report-item toggleable", :colspan => (columns.size + report_group_fields.size + 1) do %>
      All Data
    <% end %>
    <td class="report-item no-print">
    </td>
  <% else %>
    <% (report_group_fields.size - group_fields.size + 1).times do %>
      <td class="indent">&nbsp;</td>
    <% end %>
    <%= content_tag :td, :class => "report-item toggleable", :colspan => (columns.size + group_fields.size) do %>
      <% if group_name(row,group_fields).present? %> 
        <%= group_name(row,group_fields) %>
      <% else %>
        Unspecified
      <% end %>
    <% end %>
    <td class="report-item no-print">
    </td>
  <% end %>
<% end %>
