<div class="report-wrapper">
<table>
  <%= render "header" %>
  <tbody>
  <%= render :partial=> "nested_rows", :locals=>{:rows => results, :group_fields => group_fields} %>
  </tbody>
</table>
</div>
