<div class="report-wrapper">
  <table>
    <%= render "flex_reports/header", :report_group_fields => group_fields %>
    <tbody>
      <%= render "flex_reports/nested_rows", :rows => results, :report_group_fields => group_fields, :group_fields => group_fields %>
    </tbody>
  </table>
</div>
