<h1>View Runs</h1>
   <%= form_for @query, :html=>{:id=>"run-filter", :method=>:get}, :url=>{:action=>:index} do |f| %>
     <div class="ui-widget">
       Runs between <span id="startdate-wrap"><%= f.text_field :start_date %></span>and<span id="enddate-wrap"><%= f.text_field :end_date %></span>
    	<input id="summary-search" type="submit" value="Search" />
     </div>
   <% end %>
   
<%= render "runs" %>
