<div id="page-header">
  <h1>Editing TriMet Provider</h1>
</div>

<%= render 'form' %>
<%= render 'shared/related_allocations', :target => @trimet_provider.allocations %>
<%= link_to 'Back', trimet_providers_path, :class => "action-bttn" %>
