<div id="page-header">
  <h1>Ride Purpose Report</h1>
</div>

<form action="/reports/ride_purpose_report" method="GET">
  <fieldset>

  <p>
    <label for="start_date">Start date:</label> 
    <%= date_select :ride_purpose_query, :start_date, :discard_day => true, :default => @start_date %>
  </p>

  <div class="actions">
    <input type="submit" name="report" value="Report" />
  </div>

  </fieldset>
</form>
