<div id="page-header">
  <h1>Ride Purpose Report</h1>
</div>

<form action="/reports/ride_purpose_report" method="GET">
  <fieldset>

  <p><label for="start_date">Start date:</label> <input type="text" name="start_date" class="datepicker" /></p>

  <div class="actions">
    <input type="submit" name="report" value="Report" />
  </div>

  </fieldset>
</form>
