<% content_for :menu_bar do %>
        <ul id="subnav" class="selfclear">
          <li><%= link_to "Create Report", :action=>:show_create_report %></li>
        </ul>
<% end %>

<%= render :file => 'layouts/application' %>
