<% content_for :menu_bar do %>
    <div id="crossbar">
      <div class="wrap selfclear">             
        <ul id="sitenav" class="selfclear">
          <li><%= link_to "Create Report", :action=>:show_create_report %></li>
          <li><%= link_to "Edit Tags", :action=>:show_edit_tags %></li>
          <li><%= link_to "View Network Summary", :action=>:index %></li>
        </ul>
      </div><!-- /.wrap -->
    </div><!-- /#crossbar -->
<% end %>

<%= render :file => 'layouts/application' %>
