<% content_for :menu_bar do %>
        <ul id="sitenav" class="selfclear">
          <li><%= link_to "Create Report", :action=>:show_create_report %></li>
          <li><%= link_to "Allocation Tags", :action=>:tag_index %></li>
          <li><%= link_to "View Network Summary", :action=>:index %></li>
        </ul>
<% end %>

<%= render :file => 'layouts/application' %>
