<% content_for :menu_bar do %>
        <ul id="subnav" class="selfclear">
          <li><%= link_to "View Summaries", :action=>:index %></li>
<% if current_user.is_admin %>
          <li><%= link_to "Create Summary", :action=>:new %></li>
<% end %>
        </ul>
<% end %>

<%= render :file => 'layouts/application' %>
