<% content_for :menu_bar do %>
    <div id="crossbar">
      <div class="wrap selfclear">             
        <ul id="sitenav" class="selfclear">
          <li><%= link_to "Create Summary", :action=>:show_create %></li>
          <li><%= link_to "View summaries", :action=>:index %></li>
        </ul>
      </div><!-- /.wrap -->
    </div><!-- /#crossbar -->
<% end %>

<%= render :file => 'layouts/application' %>
