<% content_for :menu_bar do %>
    <div id="crossbar">
      <div class="wrap selfclear">             
        <ul id="sitenav" class="selfclear">
          <li><%= link_to "Import Trips", :action=>:import %></li>
          <li><%= link_to "View Trips", :action=>:list %></li>
        </ul>
      </div><!-- /.wrap -->
    </div><!-- /#crossbar -->
<% end %>

<%= render :file => 'layouts/application' %>
