<% content_for :menu_bar do %>
        <ul id="subnav" class="selfclear">
          <li><%= link_to "View Trips", :action=>:list %></li>
<% if current_user.is_admin %>
          <li><%= link_to "Import Trips", :action=>:import %></li>
          <li><%= link_to "Mark complete", :action=>:show_bulk_update %></li>
<% end %>
        </ul>
<% end %>

<%= render :file => 'layouts/application' %>
